.selected-shell {
   /* height: 700px; */
   margin: 0 auto;
   width: 1100px;
   border: 1px solid rgba(0,0,0,0.1);
   border-top: none;
   border-bottom: none;
   
   /* padding-top: 25px; */
}

.child-select {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.selected-meals-form {
   display: flex;
   flex-direction: column;
   padding-left: 27px;
   width: 380px;
   height: 100%;
   /* position: absolute; */
}

.search-select {
   display: flex;
   flex-direction: column;
   padding-left: 110px;
   width: 500px;
   height: 100%;
   /* right: 50px; */
   /* position: absolute; */
}

/***************************/

 .discover-label {
   flex:1;
   display: flex;
   max-height: 30px;
   margin: 9px 10% 0 0;
   width: 100%;
   justify-content: center;
 }


.discover-input:focus {
     border: 1px solid #ec5252;;
     outline: none;
     /* border-right: none; */
     background-color: #ffede6;
 }


 .search-icon {
    color: #ec5252;
    background-color: whitesmoke;
    padding: 10px;
    height: 24px;
    width: 24px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
 }

  .search-icon:hover {
    color: white;
    background-color:#ec5252;
 }

  .search-icon-open {
    border: 1px solid whitesmoke;
    border-left: none ;
    color: #ec5252;
    background-color:white;
    padding: 10px;
    height: 22px;
    width: 24px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
 }

  .search-icon-open:hover {
    color: white;
    background-color:#ec5252;
 }

 .discover-input {
    border-color: transparent;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    width: 100%;
    font-size: 16px;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    border: 1px solid teal;
    margin-left: 95px;
    border-radius: 20px;

 }

 /*********************************/

  /* .select-title {
   box-sizing: border-box;
   color: black;
   font-size: 22px;
   margin: auto;
   margin-bottom: 5px;
   margin-left: 80px;
   width: 100%;
   border-radius: 5px;
   font-weight: bold;
   font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
 } */

 .select-title {
    text-align: center;
    color: white;
    font-size: 35px;
    padding: 100px ;
    font-family: monospace;
    background-position: 25% 75%;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    background: url(https://media.blueapron.com/assets/signup/landing/background-landing-signup.jpg?quality=80&width=1440) no-repeat scroll center;
}

 .food-image img{
   width: 450px;
   height: 175px;
   border-radius: 10px;
   margin-right: 30px;
   border: 1px solid silver;
   object-fit: cover;
 }

 .dropdown-meal-content {
   display: none;
   position: absolute;
   background-color: white;
   padding: 12px 16px;
   z-index: 1;
   opacity: 1;
   left: 10px;
   top: 4px;
   max-width: 420px;
   max-height: 153px;
   overflow: scroll;
   border-radius: 10px;
   opacity: .85;
}

.dropdown-meal-content > div {
   padding: 5px;

}

#header-info{
   font-weight: 600;
}


.list-element:hover .dropdown-meal-content {
  display: block;
}

.search-meals-list{
   max-height: 700px;
   overflow: scroll;
}

.list-element {
   position: relative;
   display: inline-block;
   top: inherit;
   padding: 4px 10px;
   outline: none;
   padding-bottom: 45px;
} 

.search-food-image{
   display: inline;
}

.search-food-image img {
   width: 140px;
   height: 100px;
   border-radius: 10px;
   margin-left: 50px;
   border: 1px solid silver;
   object-fit: cover;
   
}

.search-list-element {
   position: relative;
   display: block;
   /* top: inherit; */
   padding: 5px 10px;
   outline: none;
}

.seach-food-info {
   display: inline;
   float: right;
   width: 49%;
   font-size: 20px;
   position: relative;
}

.meal-info{
   /* display: flex;
   justify-content: space-evenly; */
   position: relative;
   padding: 3px;
}

.meal-name{
   position: absolute;
   left: 5px;
   font-size: large;
   font-weight: bold;
   max-width: 300px;

}

.delete-button{
   position: absolute;
   right: 35px;
   background-color: #00aeef;
   border-color: #0097ce;
   text-decoration: none;
   color: #ffffff;
   font-size: 14px;
   cursor: pointer;
   vertical-align: middle;
   text-align: center;
   border-radius: 10px;
   padding: 2px 8px;
   outline: none;
}

.select-button{
   /* position: absolute;
   top: 55px; */
   background-color: #00aeef;
   border-color: #0097ce;
   text-decoration: none;
   color: #ffffff;
   font-size: 14px;
   cursor: pointer;
   vertical-align: middle;
   text-align: center;
   border-radius: 10px;
   padding: 2px 8px;
   outline: none;
   margin-top: 15px;
}

.generate-input{
   background-color: #f26226;
   border-color: #f05716;
   text-decoration: none;
   color: #ffffff;
   font-size: 14px;
   cursor: pointer;
   vertical-align: middle;
   text-align: center;
   border-radius: 10px;
   padding: 5px 300px;
   outline: none;
   margin: 0px 205px;
   margin-top: 20px;
   box-sizing: border-box;
}


.select-meal-text-5 {
    color: rgba(248, 105, 50, .9);
    border-bottom: 1px solid #dad9d9;
    padding: 20px 0 0 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    width: 500px;
    margin-right: 25px;
    margin-left: 25px;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}


*{
   font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}


    