body {
    margin: 0;
    min-width: 600px;
}

.logo {
    width: 20vw;
    min-width: 100px;
    height: 100%;
    cursor: pointer;
}

.nav-bar-container {
    display: flex;
    margin-bottom: 30px;
    padding: 25px;
    justify-content: space-between;
    border-bottom: 1px solid #dad9d9;
    padding-bottom: 20px;
    align-items: center;
}

.loginButton {
    background-color: #f26226;
    border-color: #f26226;
    text-decoration: none;
    color: #ffffff;
    font-family: inherit;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 11px 20px;
    font-size: 15px;
    line-height: 1.35135;
    border-radius: 10px;
    margin-right: 4px;
    outLine:none;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.footer {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-top: 1px solid #dad9d9;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color:grey;
}

.footer-linked {
    background-color:rgb(253, 253, 253);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    margin-top: 100px;
    border-top: 1px solid #dad9d9;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color:grey;
    padding-bottom: 48px;
}

.logo-footer {
    width: 200px;
    height: 50%;
    cursor: pointer;
}

.search-bar{
    border-width: 1px;
    height: 32px;
    border-color: lightgray;
    border-radius: 3px;
}

 .search-label {
   flex:1;
   display: flex;
   height: 44px;
   margin: 9px 10% 0 0;
   width: 100%;
 }


.search-input:focus {
     border: 1px solid whitesmoke;
     outline: none;
     border-right: none;
     background-color:transparent;
 }


 .search-icon {
    color: #ec5252;
    background-color: whitesmoke;
    padding: 10px;
    height: 24px;
    width: 24px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
 }

  .search-icon:hover {
    color: white;
    background-color:#ec5252;
 }

  .search-icon-open {
    border: 1px solid whitesmoke;
    border-left: none ;
    color: #ec5252;
    background-color:white;
    padding: 10px;
    height: 22px;
    width: 24px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
 }

  .search-icon-open:hover {
    color: white;
    background-color:#ec5252;
 }

 .search-input {
    border-color: transparent;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    width: 100%;
    font-size: 13px;
    background-color: whitesmoke;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: ellipsis;
 }

 .user-profile-icon {
     display: flex;
     justify-content: space-between;
     align-items: center;
     cursor: pointer;
 }

.kid-eating-img {
    position: absolute;
    clip: rect(120px, calc(100vw), 725px, 0px);
    width: 100%;
    top: -21px;
}
.linked-link {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
}

.a-tage {
    text-decoration: none;
    color: #758e75;
    font-size: 14px;
}

.a-tage:hover {
     color: #378f37;
     text-decoration: underline;
}