 .initial {
    display: flex;
    background-color: #c2cbd8; 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 70px;
    justify-content: center;
    align-items: center;
 }

 .profile-header {
     display: flex;
     align-items: center;
     justify-content: start;
     width: 60%;
     margin-bottom: 50px;
     padding-bottom: 30px;
     border-bottom: 1px solid #dad9d9;
 }

 .children-container {
    width: 60%;
 }

 .initial-baby {
    background-color: #686f7a; 
    height: 46px;
    width: 46px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
 }

.baby-box {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 10px;
   border-radius: 1px;
   border-bottom: 2px solid #ffffff;
}
 .baby-box:hover {
    background: #fffdfd;
    border-bottom: 2px solid #dad9d9;
 }

 .baby-text {
     margin-left: 20px;
 }

 .user-text {
    text-align: center;
    font-size: 30px;
    margin-bottom: 8px;
    color: #0f346c;
    font-weight: 600;
    line-height: 1.2;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
 }

 .user-meal-text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
    color: #0f346c;
    font-weight: 600;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
 }

 .user-text-handle {
    text-align: center;
    line-height: 20px;
    margin-bottom: 15px;
    color: #85868a;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 500;
    font-size: 18px;
 }

 .user-text-meal {
    margin-bottom: 15px;
    color: #85868a;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 500;
    font-size: 15px;
 }

 .baby-text {
    text-align: center;
    font-size: 19px;
    margin-bottom: 8px;
    color: #6386bb;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
 }

 .list-box {
    border-bottom: 1px solid #dad9d9;
    padding: 50px;
    border-radius: 5px;
 }

 .button-profile {
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #245091;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #acbad0;
    margin-left: 20px;
    cursor: pointer;
}

.button-profile:hover {
    background-color: #245091;
}