.lunchBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: block;
    padding: 20px;
}

.allBox {
    overflow: hidden;
    height: 500px;
    padding-left: 20px;
}

.homeVideoContainer {

}

.videoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 205px;
    color: #ffffff;
    font-size: 26px;
    transform: translateY(-355px);
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.videoButton {
    font-size: 16px;
    line-height: 54.72px;
    height: 54.72px;
    padding: 0 40px;
    margin-top: 35px;
    background-color: #f26226;
    border-color: #f26226;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
}

.transformContainer {
    display: inline-block;
    transition: transform 1s ease-in;
}

.box-title {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f26226;
    border-color: #f26226;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.box-title-select {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #e61717;
    border-color: #e61717;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.text-box {
    width: 400px;
    text-align: left;
    vertical-align: middle;
}

.text-box-content {
    display: flex;
    justify-content: space-around;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.top-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-title {
    display: flex;
}

.bar-text {
    margin: 0px 65px;
    background: #c1c1c1;
    padding: 7px 25px;
    border-radius: 5px;
    color: white;
}

.bar-text-select {
    margin: 0px 65px;
    background: #53a657;
    padding: 7px 25px;
    border-radius: 5px;
    color: white;
}

.drop-down-box {
    padding-top: 45px;
} 

.drop-down-box-item {
    display: flex;
    justify-content: space-evenly;
}

.food-dropdown-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    width: 150px;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.food-img {
    width: 60px;
    height: 50px;
}
.food-img-box-item {
    width: 60%;
    height: 45%;
    padding-top: 10px;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 0.8s;

}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.bento-wrapper {
    position: relative;
}

.side-box {
    position: absolute;
}

.entree-box {
    position: absolute;
}

.veggie-box {
    position: absolute;
}

@media only screen and (min-width: 768px) {
    .allBox {
        height: 585px;
    }

    .box {
        width: 800px;
    }

    .side-box {
        width: 369px;
        height: 481px;
        top: 52px;
        left: 52px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entree-box {
        top: 52px;
        left: 432px;
        height: 236px;
        width: 358px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .veggie-box {
        left: 432px;
        top: 298px;
        height: 234px;
        width: 358px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 767px) {
    .allBox {
        height: 447.5px;
    }

    .box {
        width: 600px;
    }

    .side-box {
        width: 277px;
        height: 360px;
        top: 44px;
        left: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entree-box {
        top: 44px;
        left: 329px;
        width: 268px;
        height: 176px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .veggie-box {
        top: 229px;
        left: 329px;
        width: 268px;
        height: 174px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 340px) {
    .allBox {
        height: 189.5px;
    }

    .box {
        width: 220px;
    }

    .side-box {
        width: 102px;
        height: 132px;
        top: 29px;
        left: 29px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entree-box {
        top: 29px;
        left: 133px;
        height: 65px;
        width: 98px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .veggie-box {
        width: 98px;
        height: 64px;
        top: 96px;
        left: 133px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.lunch-box-title {
    text-align: center;
    color: white;
    font-size: 35px;
    padding: 100px ;
    font-family: monospace;
    background-position: 25% 75%;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    background: url(https://media.blueapron.com/assets/signup/landing/background-landing-signup.jpg?quality=80&width=1440) no-repeat scroll center;
}

